---
// components
import AtBaseHead from '@/components/atoms/AtBaseHead.astro';
import MvHeader from '@/components/molecules/MvHeader.astro';
import MvFooter from '@/components/molecules/MvFooter.astro';
import OrMyProfile from '@/components/organisms/OrMyProfile.astro';
import OrHomeBlog from '@/components/organisms/OrHomeBlog.astro';

// internal
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <AtBaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="p-0 m-0 max-w-screen">
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LVDQDHK"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <MvHeader />
    <main class="container mx-auto md:px-10">
      <OrMyProfile />
      <OrHomeBlog />
    </main>
    <MvFooter />
  </body>
</html>
