---
// components
import BlogDetail from '@/layouts/BlogDetail.astro';

const description = 'A peek into what I’m up to now — working at Tiket, prepping for Japan, building cool features, and playing Coral Island in my downtime.';
---

<BlogDetail
	icon="beach"
	title="Now — What's Happening?"
	description={description}
	pubDate={new Date('Aug 11, 2025')}
	heroImage="/src/assets/now.png"
>
	<p>This is my "Now Page," where I share what I'm up to lately. I'll try to keep it updated, but I might forget — hopefully not!</p>

	<h2>Latest Update</h2>
	<p>I've just resigned from my role as a Software Engineer at tiket.com to focus on my relocation process to Japan. I'll be moving to Japan in early September.</p>

	<h2>Work</h2>
	<p>I'm currently not working for any company, but soon I'll be joining PayPay as a Software Engineer as part of my relocation to Japan.</p>

	<h2>Personal</h2>
	<p>Aside from preparing for my relocation, I've been spending time with friends and family before finally moving to Japan.</p>
	<p>I also started a running routine called #penganggurun and I'm trying to stay consistent so I can carry the habit with me once I'm in Japan.</p>
</BlogDetail>
