---
// components
import BlogDetail from '@/layouts/BlogDetail.astro';

const description = 'A peek into what I’m up to now — working at Tiket, prepping for Japan, building cool features, and playing Coral Island in my downtime.';
---

<BlogDetail
	icon="beach"
	title="Now — What's Happening?"
	description={description}
	pubDate={new Date('May 01, 2025')}
	heroImage="/src/assets/now.png"
>
	<p>This is my "Now Page," where I share what I'm up to lately. I'll try to keep it updated, but I might forget — hopefully not!</p>

	<h2>Latest Update</h2>
	<p>Right now, I'm working as a <strong>Software Engineer, Frontend</strong> at <strong>Tiket</strong>. I've been to Japan three times, spent 45 days there, and visited 14 prefectures. I'm also preparing for my <strong>relocation to Japan</strong> soon.</p>

	<h2>Work</h2>
	<p>I work at Tiket as part of the Consumer team.<br />
		Lately, I've been building features like Mission and Share & Win, and collaborating with our sister companies — Blibli, Dekoruma, Ranch Market — to bring everything together into one seamless ecosystem.
	</p>

	<h2>Personal</h2>
	<p>When I'm not coding, I'm playing <strong>Coral Island</strong>, a game from Indonesia.<br />
		I'm also walking 5 km a day as part of <strong>#zaljalan</strong>, though I've been a bit inconsistent lately. Hoping to get back on track!</p>
</BlogDetail>
