---
// components
import AtBaseHead from '@/components/atoms/AtBaseHead.astro';
import MvHeader from '@/components/molecules/MvHeader.astro';
import MvFooter from '@/components/molecules/MvFooter.astro';
import OrBlogList from '@/components/organisms/OrBlogList.astro';

// internal
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <AtBaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <MvHeader />
    <main class="container mx-auto md:px-10 py-20">
      <OrBlogList />
    </main>
    <MvFooter />
  </body>
</html>
