---
import AtHeaderLink from '../atoms/AtHeaderLink.astro';
import '../../styles/hamburgers.css';
---

<header>
  <nav
    class="flex container mx-auto md:p-10 px-4 py-6 items-center justify-between"
  >
    <a class="flex items-center gap-2" href="/">
      <p class="font-kablamo text-ppink text-4xl md:text-5xl">R</p>
    </a>
    <ul class="items-center md:gap-8 text-nowrap hidden md:flex">
      <li>
        <AtHeaderLink href="/" text="Where it starts" style="primary" />
      </li>
      <li>
        <AtHeaderLink href="/blog" text="What I wrote" style="secondary" />
      </li>
      <!-- <li>
        <AtHeaderLink href="/portofolio" text="What I worked on" style="secondary" />
      </li> -->
      <li>
        <AtHeaderLink href="/japan" text="Postcards from Japan" style="secondary" />
      </li>
      <li>
        <AtHeaderLink href="/now" text="What I'm up to" style="tertiary" />
      </li>
    </ul>
    <div class="md:hidden z-40">
      <button class="hamburger hamburger--elastic" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <div
        id="navigation"
        class="fixed top-0 left-0 w-full h-full bg-white transform -translate-y-full transition-transform duration-300 ease-in-out">
        <button
          id="closeMenu"
          class="absolute top-6 right-7 text-gray-600 hover:text-gray-900"
          aria-label="Close menu">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
        <ul class="flex flex-col items-center justify-center h-full gap-8 text-nowrap">
          <li>
            <AtHeaderLink href="/" text="Where it starts" style="primary" />
          </li>
          <li>
            <AtHeaderLink href="/blog" text="What I wrote" style="secondary" />
          </li>
          <!-- <li>
            <AtHeaderLink href="/portofolio" text="What I worked on" style="secondary" />
          </li> -->
          <li>
            <AtHeaderLink href="/japan" text="Postcards from Japan" style="secondary" />
          </li>
          <li>
            <AtHeaderLink href="/now" text="What I'm up to" style="tertiary" />
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script is:inline>
  function init(){
    const hamburger = document.querySelector('.hamburger');
    const menu = document.getElementById('navigation');
    const closeButton = document.getElementById('closeMenu');

    function closeMenu() {
      hamburger.classList.remove('is-active');
      menu.classList.add('-translate-y-full');
      menu.classList.remove('translate-y-0');
    }

    if (hamburger && menu) {
      hamburger.addEventListener('click', () => {
        hamburger.classList.toggle('is-active');
        menu.classList.toggle('-translate-y-full');
        menu.classList.toggle('translate-y-0');
      });

      if (closeButton) {
        closeButton.addEventListener('click', closeMenu);
      }
    }
  }
  init();
  document.addEventListener('astro:after-swap', init);
</script>
